web/WEB-INF/wsdl/localhost_8080/WebService/wsIntegracion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="wsIntegracion">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WebService/wsIntegracion?xsd=1"/>
</xsd:schema>
</types>
<message name="OperaDivision">
<part name="parameters" element="tns:OperaDivision"/>
</message>
<message name="OperaDivisionResponse">
<part name="parameters" element="tns:OperaDivisionResponse"/>
</message>
<message name="SaberNumeroPrimo">
<part name="parameters" element="tns:SaberNumeroPrimo"/>
</message>
<message name="SaberNumeroPrimoResponse">
<part name="parameters" element="tns:SaberNumeroPrimoResponse"/>
</message>
<message name="OperaSuma">
<part name="parameters" element="tns:OperaSuma"/>
</message>
<message name="OperaSumaResponse">
<part name="parameters" element="tns:OperaSumaResponse"/>
</message>
<message name="OperaResta">
<part name="parameters" element="tns:OperaResta"/>
</message>
<message name="OperaRestaResponse">
<part name="parameters" element="tns:OperaRestaResponse"/>
</message>
<message name="OperaMulti">
<part name="parameters" element="tns:OperaMulti"/>
</message>
<message name="OperaMultiResponse">
<part name="parameters" element="tns:OperaMultiResponse"/>
</message>
<portType name="wsIntegracion">
<operation name="OperaDivision">
<input wsam:Action="http://ws/wsIntegracion/OperaDivisionRequest" message="tns:OperaDivision"/>
<output wsam:Action="http://ws/wsIntegracion/OperaDivisionResponse" message="tns:OperaDivisionResponse"/>
</operation>
<operation name="SaberNumeroPrimo">
<input wsam:Action="http://ws/wsIntegracion/SaberNumeroPrimoRequest" message="tns:SaberNumeroPrimo"/>
<output wsam:Action="http://ws/wsIntegracion/SaberNumeroPrimoResponse" message="tns:SaberNumeroPrimoResponse"/>
</operation>
<operation name="OperaSuma">
<input wsam:Action="http://ws/wsIntegracion/OperaSumaRequest" message="tns:OperaSuma"/>
<output wsam:Action="http://ws/wsIntegracion/OperaSumaResponse" message="tns:OperaSumaResponse"/>
</operation>
<operation name="OperaResta">
<input wsam:Action="http://ws/wsIntegracion/OperaRestaRequest" message="tns:OperaResta"/>
<output wsam:Action="http://ws/wsIntegracion/OperaRestaResponse" message="tns:OperaRestaResponse"/>
</operation>
<operation name="OperaMulti">
<input wsam:Action="http://ws/wsIntegracion/OperaMultiRequest" message="tns:OperaMulti"/>
<output wsam:Action="http://ws/wsIntegracion/OperaMultiResponse" message="tns:OperaMultiResponse"/>
</operation>
</portType>
<binding name="wsIntegracionPortBinding" type="tns:wsIntegracion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="OperaDivision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SaberNumeroPrimo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OperaSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OperaResta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="OperaMulti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsIntegracion">
<port name="wsIntegracionPort" binding="tns:wsIntegracionPortBinding">
<soap:address location="http://localhost:8080/WebService/wsIntegracion"/>
</port>
</service>
</definitions>